.home-img {
    width: 350px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px #B7589C;
    vertical-align: middle;
    transition: transform .5s ease;
}

.home-img:hover {
    box-shadow: 0px 0px 20px 10px #6658dd;
    transform: scale(1.05);
}

.floating-logos {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.floating-icon {
    position: absolute;
    width: 40px;
    animation: float 6s ease-in-out infinite;
    opacity: 0.4;
    transition: transform 0.3s ease;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}