.home{
    width: 100%;
    height: 100vh;
}

.social-icons:hover {
    transform: translate(0%, -3%);
}

img.circle-shadow {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    box-shadow: 0px 0px 20px 10px #2296cf;
    vertical-align: middle;
    border-style: none;
    position: relative;
    transition: transform .5s ease;
}

img.circle-shadow:hover{
    box-shadow: 0px 0px 20px 10px #2296cf;
    transform: scale(1.1);
}