.profile_img img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
    border-radius: 50% !important;
    vertical-align: middle;
    border-style: none;
    position: relative;
    width: 400px;
    height: 400px;
    transition: all .15s ease;
    transform: translate(0%, 0%);
    margin-bottom: 20px;
}

.social-icons:hover {
    transform: translate(0%, -3%);
}