.header-bg{
  background-color: rgba(246, 247, 251,0.7);
  backdrop-filter: blur(20px);
}

.title {  
  cursor: pointer;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.title:hover {
  -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.toggle {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
}

@media screen and (max-width: 500px){
  header {
    margin-bottom: 150px;
  }
  .navbar .container {
    flex-direction: column;
    height: auto;
  }
  .navbar .container div {
    text-align: center;
    padding: 20px;
  }
  .toggle {
    display: block;
  }
}

/***************************/

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
