.logo {
  max-height: 32px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #3d62e0 !important;
}

.navbar-custom {
  background-color: rgba(246, 247, 251,0.7);
  backdrop-filter: blur(20px);
  z-index: 9999;
}

body.dark-mode .navbar-custom {
  background-color: rgb(0, 12, 36, 0.7);
}

.navbar-custom .navbar-brand {
  height: auto;
}

.navbar-toggle {
  margin-top: 14px;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3B3B40;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 20px 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-custom {
    padding: 10px 0px !important;
  }
  .navbar-custom .navbar-brand {
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-nav {
    margin: 7.5px 0px;
  }
  .navbar-toggler {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 9px 10px;
    margin-right: 15px;
    outline: 0 !important;
  }
  .navbar-light .navbar-toggler {
    color: #3B3B40;
    border-color: transparent;
  }
  .navbar-dark .navbar-toggler {
    color: #ffffff;
    border-color: transparent;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px !important;
  }
  .navbar-default {
    border-bottom: 1px solid #e7e7e7;
  }
}


/* day night mode selector */
#mode {
  display: none;
}

.nightMode {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 32px;
  position: relative;
  cursor: pointer;
}

.nightMode::after {
  content: url('sun-line.svg');
  width: 40px;
  height: 40px;
  background-color: #fadb44;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  position: absolute;
  top: -5px;
  left: 0;
  display: grid;
  place-content: center;
  line-height: 0;
  transition: background-color 1s, transform 1s ease-in;
}

#mode:checked + .nightMode::after{
  content: url('moon-line.svg');
  background-color: #1f257f;
  transform: translateX(30px) rotate(360deg);
}