.img-hover-zoom img {
  transition: transform .5s ease;
  box-shadow:0px 24px 48px 0 rgba(0,0,0,0.1);
}
.badge-hover-zoom img {
  transition: transform .5s ease;
  max-height: 300px;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.badge-hover-zoom:hover img {
  transform: scale(1.1);
}

.page-content-certificates {
  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .page-content-certificates {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 600px) {
  .page-content-certificates {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 768px){
  .page-content-certificates {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .page-content-certificates {
    grid-template-columns: repeat(3, 1fr);
  }
}
