body{
  background-color: #F6F7FB;
  color: #474D58;
}

::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
}
a:hover { 
  text-decoration:none; 
}

Link{
  text-decoration: none;
}
Link:hover { 
  text-decoration:none; 
}